body {
  background-color: aliceblue;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 240px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(100, 113, 146); 
    overflow-x: hidden; /* Disable horizontal scroll */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: 3px solid black;
    border-top: 1px solid black; 
    border-bottom: 3px solid black; 
  }

  .sidenav a {
    margin: 20px;
    text-decoration: none;
    font-size: 25px;
    font-family: cursive;
    color: white;
    display: block;
    text-align: center; 
  }

  h1, h2, p {
    font-family: cursive;
  }

  h1 {
    text-align: center;
    font-weight: 800;
    font-size: 50px;
    margin-left: 265px;
  }

  h2, p {
    margin-left: 265px;
  }

  span {
    color: rgb(142, 93, 0);
  }